/* tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;



/* font imports */
@font-face {
  font-family: 'Comic Neue';
  src: url('./assets/fonts/Comic_Neue/ComicNeue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Comic Neue';
  src: url('./assets/fonts/Comic_Neue/ComicNeue-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gloria Hallelujah';
  src: url('./assets/fonts/Gloria_Hallelujah/GloriaHallelujah-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



/* set texts default value */
* {
  font-family: 'Comic Neue';
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}
h1, h2, h3 {
  font-family: 'Gloria Hallelujah';
  font-weight: 400;
}
h1 {
  font-size: 1.25rem;
  line-height: 1.75rem
}
h2 {
  font-size: 1.125rem;
  line-height: 1.75rem
}
h3 {
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 768px) {
  *, h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}



/* set default value */
html {
  scroll-behavior: smooth;
}

body, #root {
  height: 100vh;
  overflow: auto;
}

#root {
  display: flex;
  flex-direction: column;
  background-image: url('./assets/images/bg.png');
}

main {
  flex: 1;
  overflow: auto;
  padding: 1rem;
}

img {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

